<div *ngIf="cartBooks && cartBooks.length">
  <div *ngFor="let book of cartBooks">
    <mat-card class="collectionCards">
      <div class="header" *ngIf="book.volumeInfo">
        <img src="{{ book.volumeInfo.imageLinks.smallThumbnail }}" />
        <div class="header-details">
          <mat-card-title>
            {{ book.volumeInfo.title }}
            <span class="published" *ngIf="book.volumeInfo.publishedDate"
              >published on {{ book.volumeInfo.publishedDate }}</span
            >
          </mat-card-title>
          <mat-card-subtitle
            *ngIf="book.volumeInfo.authors && book.volumeInfo.authors.length"
          >
            By -
            <span *ngFor="let author of book.volumeInfo.authors; let i = index">
              {{ author }}
              <span *ngIf="i < book.volumeInfo.authors.length - 2">,</span>
              <span *ngIf="i === book.volumeInfo.authors.length - 2">&</span>
            </span>
          </mat-card-subtitle>
        </div>
      </div>
      <mat-expansion-panel *ngIf="book.volumeInfo.description">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Description
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>{{ book.volumeInfo.description }}</p>
      </mat-expansion-panel>
    </mat-card>
  </div>
  <button
    mat-button
    class="addtocard-btn book-btn"
    (click)="proceedToPurchase()"
  >
    Proceed to purchase
  </button>
</div>
