<div *ngIf="cartBooks && cartBooks.length">
  <div *ngFor="let book of cartBooks">
    <mat-card (click)="onBookSelect(book.id)">
      <mat-card-title-group>
        <img
          mat-card-sm-image
          src="{{ book.volumeInfo.imageLinks.smallThumbnail }}"
        />
        <mat-card-title>{{
          book.volumeInfo.title | ellipsis: 35
        }}</mat-card-title>
        <mat-card-subtitle *ngIf="book.volumeInfo.subtitle">{{
          book.volumeInfo.subtitle | ellipsis: 40
        }}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <p *ngIf="book.volumeInfo.description">
          {{ book.volumeInfo.description | ellipsis }}
        </p>
      </mat-card-content>
      <mat-card-footer>
        <h5>Written By:</h5>
        <div class="inline-block">
          <span>
            {{ book.volumeInfo.authors | addCommas }}
          </span>
        </div>
        <div
          class="book-block-center float-right rm-cart-icon"
          (click)="removeFromCart(book.id, $event)"
        >
          <mat-icon matBadgeColor="accent" color="accent"
            >remove_shopping_cart</mat-icon
          >
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <button mat-button class="addtocard-btn book-btn" (click)="onPurchase()">
    Proceed to purchase
  </button>
</div>
