<!-- <div *ngIf="cartBooks && cartBooks.length">
  <div *ngFor="let book of cartBooks">
    <mat-card class="collectionCards">
      <div class="header" *ngIf="book.volumeInfo">
        <img src="{{ book.volumeInfo.imageLinks.smallThumbnail }}" />
        <div class="header-details">
          <mat-card-title>
            {{ book.volumeInfo.title }}
            <span class="published" *ngIf="book.volumeInfo.publishedDate"
              >published on {{ book.volumeInfo.publishedDate }}</span
            >
          </mat-card-title>
          <mat-card-subtitle
            *ngIf="book.volumeInfo.authors && book.volumeInfo.authors.length"
          >
            By -
            <span *ngFor="let author of book.volumeInfo.authors; let i = index">
              {{ author }}
              <span *ngIf="i < book.volumeInfo.authors.length - 2">,</span>
              <span *ngIf="i === book.volumeInfo.authors.length - 2">&</span>
            </span>
          </mat-card-subtitle>
        </div>
      </div>
      <mat-expansion-panel *ngIf="book.volumeInfo.description">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Description
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>{{ book.volumeInfo.description }}</p>
      </mat-expansion-panel>
    </mat-card>
  </div> -->

<div *ngIf="cartBooks && cartBooks.length">
  <div *ngFor="let book of cartBooks">
    <mat-card>
      <mat-card-title-group>
        <img
          mat-card-sm-image
          src="{{ book.volumeInfo.imageLinks.smallThumbnail }}"
        />
        <mat-card-title>{{
          book.volumeInfo.title | ellipsis: 35
        }}</mat-card-title>
        <mat-card-subtitle *ngIf="book.volumeInfo.subtitle">{{
          book.volumeInfo.subtitle | ellipsis: 40
        }}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <p *ngIf="book.volumeInfo.description">
          {{ book.volumeInfo.description | ellipsis }}
        </p>
      </mat-card-content>
      <mat-card-footer>
        <h5>Written By:</h5>
        <span>
          {{ book.volumeInfo.authors | addCommas }}
        </span>
      </mat-card-footer>
    </mat-card>
  </div>
  <button
    mat-button
    class="addtocard-btn book-btn"
    (click)="proceedToPurchase()"
  >
    Proceed to purchase
  </button>
</div>
