<div class="book-detail-hldr">
  <div class="card-hldr">
    <div class="inner-card-hldr">
      <mat-card class="book-info-card">
        <mat-card-header>
          <mat-card-title class="book-title">{{
            selectedBook.volumeInfo.title
          }}</mat-card-title>
          <mat-card-subtitle>{{
            selectedBook.volumeInfo.subtitle
          }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="{{ selectedBook.volumeInfo.imageLinks?.smallThumbnail }}"
          class="detail-book-thumbnail"
          alt="Photo"
        />
        <mat-card-actions>
          <button
            mat-button
            class="addtocard-btn book-btn"
            (click)="OnAddToCart()"
          >
            ADD TO CART
          </button>
          <button mat-button class="buy-btn book-btn" (click)="purchaseBook()">
            BUY
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="book-info-hldr">
    <div class="description-hldr">
      <div class="description-title">
        Author
      </div>
      <div class="description-detail">
        {{ selectedBook.volumeInfo.authors }}
      </div>
    </div>
    <div class="description-hldr">
      <div class="description-title">
        Publisher
      </div>
      <div class="description-detail">
        {{ selectedBook.volumeInfo.publisher }}
      </div>
    </div>
    <div class="description-hldr">
      <div class="description-title">
        Page Count
      </div>
      <div class="description-detail">
        {{ selectedBook.volumeInfo.pageCount }}
      </div>
    </div>
    <div class="description-hldr">
      <div class="description-title">
        Language
      </div>
      <div class="description-detail">
        {{ selectedBook.volumeInfo.language }}
      </div>
    </div>
    <div class="description-hldr">
      <div class="description-title">
        Description
      </div>
      <div class="description-detail">
        {{ selectedBook.volumeInfo.description }}
      </div>
    </div>
  </div>
</div>
