<div *ngIf="collectionBooks && collectionBooks.length">
  <div *ngFor="let book of collectionBooks">
    <mat-card (click)="onBookSelect(book.bookInfo.id)">
      <mat-card-title-group>
        <img
          mat-card-sm-image
          src="{{ book.bookInfo.volumeInfo.imageLinks.smallThumbnail }}"
        />
        <mat-card-title>{{
          book.bookInfo.volumeInfo.title | ellipsis: 35
        }}</mat-card-title>
        <mat-card-subtitle *ngIf="book.bookInfo.volumeInfo.subtitle">{{
          book.bookInfo.volumeInfo.subtitle | ellipsis: 40
        }}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <p *ngIf="book.bookInfo.volumeInfo.description">
          {{ book.bookInfo.volumeInfo.description | ellipsis }}
        </p>
      </mat-card-content>
      <mat-card-footer>
        <h5>Written By:</h5>
        <span>
          {{ book.bookInfo.volumeInfo.authors | addCommas }}
        </span>
        <div class="book-action-btns book-btn">
          <h5>Billing Address</h5>
          <div>
            <span style="font-weight: bold">Name:</span>&nbsp;
            <span>{{ book.billingInfo.name }}</span>
          </div>
          <div>
            <span style="font-weight: bold">Email:</span>&nbsp;
            <span>{{ book.billingInfo.email }}</span>
          </div>
          <div>
            <span style="font-weight: bold">Phone:</span>&nbsp;<span>{{
              book.billingInfo.phone
            }}</span>
          </div>
          <div>
            <span style="font-weight: bold">Address:</span>&nbsp;
            <span>{{ book.billingInfo.address }}</span>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
