.collectionCards {
  background-color: #f6f6f6;
  width: 95%;
  margin: 10px 2.5% 0px;
  clear: both;

  div.header {
    background-color: #ddd;
    display: flex;

    img {
      flex: 1;
      height: 100px;
      width: 100px;
    }

    .header-details {
      flex: 10;
      margin-left: 10px;
    }

    mat-card-title span.published {
      font-size: 10px;
      font-style: italic;
      font-weight: normal;
    }
  }
}
