<!-- <div class="admin-layout admin-container">
  <nav class="sidenav-container"><workspace-sidenav></workspace-sidenav></nav> -->

<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="black">
    <workspace-sidenav></workspace-sidenav>
    <!-- <div
      class="sidebar-background"
      style="background-image: url(./assets/img/sidebar-4.jpg)"
    ></div> -->
  </div>
</div>
<!-- <main>
    <workspace-toolbar></workspace-toolbar>

    <div class="main-content">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </main>
</div> -->
