.sidenav-container {
  height: 100%;
}
.sidenav-icon {
  margin-right: 15px;
}
.mat-list-base {
  padding: 10px;
  padding-right: 20px;
}
.mat-nav-list .mat-list-item {
  margin: 10px 5px;
  background: transparent;
}
.mat-nav-list .mat-list-item:hover {
  background: #e20069;
  color: #fff;
}
.mat-toolbar.mat-primary {
  background: #e20069;
  color: #fff;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
